@charset "UTF-8";


/* ========BASIC======== */
html {
   overflow-y:scroll;
}

body {
   margin:0;
   padding:0;
   line-height:1.6;
   letter-spacing:1px;
   font-family:Verdana, Helvetica, sans-serif;
   font-size:13px;
   color:#333;
   background:#21699C;
}

br {
   letter-spacing:normal;
}

a {
   color:#333;
   text-decoration:none;
}

a:hover {
   color:#666;
}

img {
   border:0;
   vertical-align:bottom;
}

h1,h2,h3,h4,h5,h6 {
   margin:0;
}

/* ========TEMPLATE LAYOUT======== */
div#top {
   width:760px;
   margin:0 auto;
   padding:10px;
   background:#F7F3F7;
}

div#header {
   position:relative;
   width:760px;
   height:150px;
   background:#7BAAD6 url("../images/bg_header_top.gif") 0 0 no-repeat;
}

div#menu {
   width:760px;
   position:absolute;
   bottom:0;
   background:#7BAAD6 url("../images/bg_header_bottom.gif") 0 100% no-repeat;
}

div#pr {
   position:absolute;
   left:280px;
   top:10px;
   width:480px;
}

div#contents {
   float:left;
   width:760px;
   margin-top:10px;
   background:#fff url("../images/bg_contents.gif") 0 0 repeat-y;
}

div#main {
   float:left;
   width:500px;
   padding:10px;
   background:#fff url("../images/bg_main.gif") 0 0 no-repeat;
}

div#sub {
   float:right;
   width:220px;
   padding:10px;
   background:#CACACA url("../images/bg_sub.gif") 0 0 no-repeat;
}

div#pageTop {
   clear:both;
}

div#footMenu {
   float:left;
   width:760px;
   padding-top:10px;
   background:url("../images/bg_contents_footer.gif") 0 0 no-repeat;

}
div#footer {
   clear:both;
   margin:0 5px;
}


/* ========HEADER CUSTOMIZE======== */
div#header h1 {
   margin:0;
   padding:10px;
   font-size:32px;
   color:#fff;
   line-height:1.0;
}

div#header h1 a {
   color:#fff;
}

div#header h1 a:hover {
   color:#666;
}

div#header #pr p {
   margin:0 1em 0 0;
}




/* ========MENU CUSTOMIZE======== */
div#menu ul {
   margin:0;
   padding:0;
}

div#menu li {
   float:left;
   margin:0;
   padding:10px;
   color:#333;
   list-style-type:none;
   background:url("../images/bg_menu.gif") 0 50% no-repeat;
}

div#menu li a {
   color:#333;
   margin:0 10px;
}

div#menu li a:hover {
   color:#fff;
}

div#menu li.home {
   background:none;
}

div#menu li.home a {
   margin:0 10px 0 0 ;
}






/* ========MAINCONTENTS CUSTOMIZE======== */
div#main a {
   color:#21699C;
}

div#main a:hover {
   color:#21699C;
   border-bottom:1px solid #21699C;
}

div#main h2 {
   margin-bottom:8px;
   padding:2px 2px 2px 0;
   color:#333;
   font-size:15px;
   font-weight:bold;
   border-bottom:3px double #535D57;
}

div#main h3 {
   margin-bottom:3px;
   padding:2px 5px;
   font-size:14px;
   color:#fff;
   background:#4793c8;
}

div#main h4 {
   margin-bottom:2px;
   padding:2px 5px;
   font-size:13px;
   border:1px solid #4793c8;
   background:#acd9fa;
}

div#main h5 {
   margin-bottom:2px;
   font-size:13px;
   border-bottom:2px solid #333;
}

div#main h6 {
   margin-bottom:2px;
   font-size:13px;
}

div#main p {
   margin:0 0 1em 0;
}

div#main dt {
   margin-bottom:3px;
}

div#main dd {
   padding:0;
   margin:0 0 0.5em 1em;
   padding:3px;
   background:#f1f1f1;
}

div#main div.icatch {
   margin-bottom:20px;
}

/* INFORMATION CUSTOMIZE */
* html body div#main dl.information dd div{
   display:inline-block;
}

div#main dl.information dt {
   float:left;
   width:10em;
   margin:0;
   padding:0;
}

div#main dl.information dd {
   margin:0 0 0.5em 10em;
   padding:0;
   background:transparent;
}

#main table {
   width:100%;
   border-collapse: collapse;
}

#main table th {
   padding:5px;
   font-size:12px;
   text-align:left;
   border:1px solid #ddd;
   background:#f1f1f1;
}

#main table td {
   padding:5px;
   font-size:12px;
   text-align:left;
   border:1px solid #ddd;
}


/* ========SUBCONTENTS CUSTOMIZE======== */
div#sub .section {
   margin-bottom:10px;
}

div#sub h2 {
   font-size:14px;
   font-weight:bold;
}

div#sub ul {
   margin:0 0 0 5px;
   padding:0;
}

div#sub li {
   padding:5px 0 5px 0;
   line-height:1.4;
   list-style:none;
}

div#sub li a {
   display:block;
   padding-left:12px;
   background:url("../images/bg_list.gif") 0 6px no-repeat;
}


/* ========PAGETOP CUSTOMIZE========= */
div#pageTop {
   margin:0 10px;
   text-align:right;
}

div#pageTop a {
   padding:0 0 0 12px;
   background:url("../images/bg_pagetop.gif") 0 50% no-repeat;
   color:#333;
}


/* ========FOOTMENU CUSTOMIZE======== */
div#footMenu ul {
   margin:0;
   padding:10px 0;
   text-align:right;
}

div#footMenu li {
   display:inline;
   margin:0 0 0 10px;
   font-size:12px;
   list-style:none;
}

div#footMenu li a {
   padding-left:10px;
   background: url("../images/bg_footmenu.gif") 0 50% no-repeat;
}


/* ========FOOTER CUSTOMIZE======== */
.copyright {
   padding-top:10px;
   font-style:normal;
   font-size:11px;
   text-align:center;
   background: url("../images/bg_dotline.gif") 0 0 repeat-x;
}
